<!doctype html>
<html lang="en" data-beasties-container>
<head>
  <meta charset="utf-8">
  <title>FlaskAngularSqlalchemy</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="favicon.png">
<style>body{background-color:#556b2f}</style><link rel="stylesheet" href="styles-65PVDGCE.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles-65PVDGCE.css"></noscript></head>
<body>
  <app-root></app-root>
<script src="polyfills-FFHMD2TL.js" type="module"></script><script src="main-OTEBU57K.js" type="module"></script></body>
</html>
